/* CSS UEMG Eventos 

Cor UEMG: #3c6e8f;*/

body{
	margin-top: 50px;
	background: url(imagens/img01.png);
	background-attachment: fixed;

	font-family: 'Signika Negative', sans-serif;
}

label{
	font-weight: 400;
}

a{
	color: #4da3ff;

	transition: all .2s;
}

a:hover{
	color: #1a75d5;

	transition: all .2s;
}


/* Navbar */

.img-logo{
	background-image: url(imagens/UEMG-Logo.png);
	background-repeat: no-repeat;

	height: 40px;
	width: 132px;
	display: block;
	background-size: contain;
	color: transparent;

	margin-top: -9px;
}

.navbar-inverse .navbar-nav > li > a{
	color: #8cc1de;

	outline: none;
}

.navbar-inverse .navbar-nav > li > a:hover{
	color: white;

	background: #437899;

	box-shadow: inset 0 -4px 0 #3b617a;

	transition: background 0.5s, color 0.5s, box-shadow 0.5s;
}

.navbar-inverse .navbar-nav > li > a:focus{
	outline: none;
}

.navbar-inverse .navbar-nav > .active > a{
	color: white;

	user-select: none;

	outline: none;

	background: #3b617a;
}

.navbar-inverse .navbar-nav > .active > a:hover{
	color: white;

	background: #3b617a;

}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover{
	background: #3b617a; 

	transition: background 0.5s, color 0.5s;
}

.nav-color{
	border-bottom: 0px;

	background: rgba(60, 110, 143, 0.96);
	font-family: 'Alegreya Sans SC', sans-serif;
	font-size: 16px;
	color: solid red;
}

.logar{
	font-family: 'Signika Negative', sans-serif;
	padding: 12px;
	width: 400px;
	padding: 12px;
}

.div-login{
	background: linear-gradient( #f7f7f7, white 60%, #f7f7f7);
}

/* Barra de Pesquisa */

/* Classes */

.btn-pesquisa{
	outline: none;
	color: #b1b1b1;
	background: transparent;
	border: 0px;
	border-radius: 12px;
	
	margin-top: -21px;
	margin-right: -15px;
	margin-bottom: -20px;
	margin-left: -12px;
}

.btn-pesquisa:hover{
	color: white;
	transition: color 0.3s;
}

.btn-pesquisa:focus{
	-o-outline: none;
	outline: none;
	box-shadow: none;
}

.input-group-sm > .form-control, .input-group-sm > .input-group-addon, .input-group-sm > .input-group-btn > .btn{
	border: 0px;

}

.input-group-sm > .form-control{
	border-radius: 20px;

	margin-right: 0px;

	transition: margin-right 0.5s;
}

.input-group-sm > .form-control:focus{
	margin-right: 70px;

	transition: margin-right 0.5s;
}

.input-group-sm > .input-group-addon{
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

/* ID Barra de Pesquisa */

#barra-pesquisa{
	font-family: 'Signika Negative', sans-serif;

	margin-top: 10px;
	margin-right: 10px;
}

#icon-pesquisa{
	font-size: 13px;
}

/* Dropdown do Usuário */

.dropdown-menu > li > a{
	font-size: 4mm;
}

/* Tela de Login */
.close{
	outline: none;
}

.modal-content{
	border-radius: 0;
}

.modal-dialog{
	margin: 60px auto;
}

.btn-custom{

	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	vertical-align: middle;
	user-select: none;

	touch-action: manipulation;
	cursor: pointer;

	background-image: none;
	border: none;
	border-radius: 13px;

	color: #333;
}

.btn-custom:focus{
	outline: none;
	color: white;
	text-decoration: none;
}

.btn-custom:hover{
	text-decoration: none;
}

.btn-custom:active{
	color: white;
	text-decoration: none;
}

.btn-custom:visited{
	color: white;
	text-decoration: none;
}

.minha-conta{
	font-size: 14px;
}

.form-login{
	border: none;
	border-bottom: 1px solid #c4c4c4;

	background-color: hsl(204, 33%, 90%);

	margin-bottom: 12px;

	display: block;
	width: 95%;
	height: 34px;
	padding: 0 10px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
    margin-right: 5px;

	background-image: none;
	
	transition: background-color 0.8s;

}

.form-login:hover{
	background-color: #eef3f7;

	transition: background-color 0.8s;
}

.form-login:focus{

	

	border-bottom: none;

	box-shadow: inset 0 -2px 0 #4b8ab4;
	background-color: #e7eef3;

	transition: background-color 0.8s, box-shadow 0.5s, width 0.5s cubic-bezier(.17,.67,.83,.67);
	outline: none;
}

.modal-header{
	border-bottom: 0;
}

.modal-footer{
	border-top: 0;
}

.btn-logar{

	background: #6fa1c3;

	color: white;

	box-shadow: none;

	width: 16%;

	min-width: auto;

	transition: background 0.6s, color 0.6s;
}

.btn-logar:hover{
	background: #3c6e90;
	color: white;

	transition: background 0.6s, color 0.6s;
}

.btn-logar:active{

	background: #2d536c;

	transition: background 0.6s;
}

.btn-cancelar{
	background: none;
	
	padding: 8px;

	box-shadow: none;

	/*width: 16%;*/

	min-width: auto;

	transition: background 0.3s, color 0.3s, border-color 0.3s;

	border: 2px solid;

	border-color: rgba(0,0,0,0);
}

.btn-cancelar:hover{
	
	border-color: #a1a1a1;

	color: #333;

	background: #fafafa;

	transition: background 0.6s, border-color 0.6s;
}
.btn-cancelar:focus{
	
	border-color: gray;

	background: #f0f0f0;

	color: #333;

	transition:  border-color 0.6s, background 0.6s;
}

.btn-cancelar:active{
	
	border-color: gray;

	background: #f0f0f0;

	color: #333;

	transition:  border-color 0.6s, background 0.6s;
}

/* ID Login */
#div-info{
    float: right;
    width: 50%;
    border-left: 3px solid #3c6e8f;
    padding-left: 14px;
    margin-top: 29px;
}

#icon-login{
	font-size: 15px;
}

#icon-email-pass{
	font-size: 12px;
}

#btn-cadastrar{
	width: 20%;
}

/* -------------------------------- Atividades -----------------------------------*/

.titulo{
	background: white;

	border-bottom: 2px solid #3b617a;
	border-radius: 2px;

	padding-left: 8px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: -5px;
	margin-bottom: 5px;

}

.vagas{
    float: right;
    padding-top: 8px;
    font-size: 17px;
}

.div-atividades{
	float: left;
	background: white;
	margin-top: 12px;

	width: 49%;

	padding-bottom: 12px;
}
.div-atividades:hover{
	transform: scale(1.02);
	transition: transform 0.2s;
}

.corpo-atividade{
	background: white;

	padding-top: 10px;
}

.div-info{

	padding-left: 0;
}

.div-descricao{
	background: #f4f4f4;

	margin-top: 10px;
	margin-left: 0;
	margin-right: 1px;
	overflow: auto;
	height: 89px;
	word-wrap: break-word;
}

.img-atividade{
	background: #f4f4f4;

	max-height: 150px;
	max-width: 170px;

	text-align: center;
}

.btn-inscreva{
	width: 100%;

	margin-top: 22px;

	background: #3c6e8f;

	color: white;

	transition: background 0.6s, color 0.6s;
}

.btn-inscreva:hover{

	background: #396079;

	color: white;

	transition: background 0.6s, color 0.6s;
}

.btn-inscreva:active{

	background: #355569;

	color: white;

	transition: background 0.6s, color 0.6s;
}

#icon-plus{
	font-size: 12px;
}

.div-eventos{
	float: right;

	margin-bottom: 0;

	background: white;

	margin-top: 12px;

	width: 49%;

	padding-bottom: 12px;
}

.div-eventos:hover{
	transform: scale(1.02);
	transition: transform 0.2s;
}

#img-nupsi{
    width: 65%;
    margin-top: 75px;
    margin-right: 4px;
}

#nupsi-footer{
    padding-right: 22%;
    float: left;
}

#img-uemg{
    margin-top: 37px;
    float: right;
    margin-right: 4px;
    margin-bottom: 4px;
    width: 65%;

}

#uemg-footer{
    font-size: 15px;
    float: right;
    text-align: right;
    
    padding-left: 18%;
}

.rodape{
    background: linear-gradient(#3c6e8f,#42647b);
    color: white;
    margin-top: 24px;
    padding-top: 12px;
    padding-right: 0;
}

footer a{
	color: white;
}

footer a:hover{
	color: white;
	text-shadow: 1px 2px 1px #333;
	text-decoration: none;

}

footer a:focus{
	color: white;
	text-shadow: 1px 2px 1px #333;
	text-decoration: none;
}

footer p{
	margin-top: 5px;
}

/* -------------------------- Carrossel ------------------------------ */

.setas{
	width: 50%;
	height: 100%;
}

.banner{
	width: 100%;
	transition: all .4s;
}

.banner:hover{
	filter: brightness(107%);

	opacity: 1;



	transition: all .5s;
}

.banner-desc{
	position: absolute;
    margin-top: -100px;
    z-index: 2;

    font-size: 16px;

    width: 100%;
	padding: 16px 20px 62px 30px;
	background: rgba(0, 0, 0, 0.46);
	color: white;

	text-align: center;

	transition: all .5s;
}

.swiper-background{
	background: hsla(200, 52%, 49%, 0.48);
}

.swiper-background:hover{
	cursor: grab;
	cursor: -webkit-grab;
}

.swiper-background:active{
	cursor: grabbing;
	cursor: -webkit-grabbing;
}

.swiper-pagination-bullet{
	border-radius: none;

	width: 20px;
    height: 7px;
}

#destaque{
	font-family: 'Alegreya Sans SC', sans-serif;
	letter-spacing: 1px;
    background: rgba(32, 73, 93, 0.74);
    padding: 1px 15px;
    color: white;
    position: absolute;
    padding-left: 40px;
    font-size: 23px;
    text-transform: uppercase;

    z-index: 2;

    margin-top: 5px;
}
