body{
	margin-top: 60px;
}

table{
	width:  100%;
}

td, th{
	padding: 5px;
}

.nome{
	width: 80%;
}

.editar .excluir{
	width: 10%;
}

.font-face {
    font-family: 'Signika Negative', sans-serif;
    font-size: 13px;
    src: url(https://fonts.googleapis.com/css?family=Signika+Negative:300);
}
